:root {
  --bgColor: #dfdad0;
  --mainColor: #637;
  --accentColor: #ff7;
  --actionColor: #c4c;
}
body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: var(--bgColor);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--mainColor);
}
.bg-title {
  color: var(--accentColor);
  opacity: 0.7;
  height: 0px;
  font-size: 6em;
  position: absolute;
  top: 30px;
  z-index: -1;
  pointer-events: none;
  line-height: 0.9;
  text-align: center;
  max-width: 800px;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  /*border-bottom: 8px solid var(--accentColor);*/
}
a {
	color: var(--actionColor);
}
nav a {
	margin-right: 10px;
    font-size: 2em;
    font-weight: bold;
    opacity: 0.9;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
