---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
>
  <span itemscope itemtype="http://data-vocabulary.org/Person">
    Hi, I'm <span itemprop="name">Philipp</span>, a <span itemprop="location"
      >Berlin based</span
    >
    <span itemprop="role">software maker</span>
     with a passion for
    <a
      href="http://www.flickr.com/photos/61913761@N00/"
      title="My amazing Flickr Profile"
      itemprop="url">analogue photograpy</a
    >. This is where I blog.
  </span>
</Layout>
