---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} johann philipp strathausen. All rights reserved. <a href="/impressum">impressum</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
