<p class='index'>{{{content}}}</p>
<ul class='index'>
{{#documents}}
  {{#indexed}}
  <li>
    <a href="/{{id}}">
      <span class='date'>{{date}}</span>
      <span class='title'>{{title}}</span>
    </a>
  </li>
  {{/indexed}}
{{/documents}}
</ul>
