<html>
  <head>
    <title>{{title}} - strathausen.eu</title>
    <link rel='stylesheet' href='/style.css' type='text/css' />
    <style type="text/css">
      <--
      {{css}}
      -->
    </style>
    <meta name='keywords' content='{{#tags}}{{.}},{{/tags}}' /> 
    <meta name='author' content='{{author}}' /> 
  </head>
  <body>
    <div id='header'>
      <a href='/'><h1>Johann Philipp Strathausen</h1></a>
      <div class='subline'>••••••••••••••••••••••••••••••••••••••••••••</div>
      <ul class='navigation'>
        <li><a href='/'>index</a></li>
        <li><a href='/profile'>profile</a></li>
        <!--<li><a href='/hire'>/hire</a></li>-->
      </ul>
    </div>
    <div id='content'>
      {{>body}}
    </div>
  </body>
</html>
