<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | stratha.us</title>
    <link rel="canonical" href="http://stratha.us/{{id}}" />
    <meta name="keywords" content="{{#tags}}{{.}},{{/tags}}" /> 
    <meta name="author" content="{{author}}" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml"
      title="Johann Philipp Strathausen RSS-Feed"
      href="http://www.strathausen.eu/feed.rss" />
    {{!<link rel="alternate" type="application/atom+xml" title="Johann Philipp Strathausen Atom-Feed" href="http://www.strathausen.eu/feed/atom/" />
    <link rel="pingback" href="http://www.strathausen.eu/xmlrpc.aspx" />}}
    <meta name="generator" content="vim" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <style type="text/css">
    <!--
    /* Junction Sans-Serif Font from the leagueofmovabletype.com */
    @font-face {
      font-family: 'Junction';
      src: url('/fonts/Junction-webfont.eot'); /* for IE */
      src: local('Junction'),
        url('/fonts/Junction-webfont.woff') format('woff'),
        url('/fonts/Junction-webfont.svg') format('svg'),
        url('/fonts/Junction-webfont.ttf') format('truetype');
    }
    header, footer {
      background-image: url('/bg000001.jpeg');
    }

    /* Ubuntu Mono Font */
    @import url('http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,latin-ext');
    @import "/style.css";
    @import "/code.css";
    -->
    </style>
  </head>
  <body>
    <header>
      <a href="/"><h1>Johann Philipp Strathausen</h1></a>
      <nav>
        <ul class="navigation">
          <li><a href="/">index</a></li>
          <li><a href="/profile">profile</a></li>
          <li><a href="http://github.com/strathausen" target="_blank">
            → github</a></li>
          {{!<li><a href="/hire">hire me</a></li>}}
        </ul>
      </nav>
    </header>
    <div id="content">
      {{>body}}
    </div>
    <footer>
      <nav>
        <ul class="navigation">
          {{! <li><a href="/imprint">imprint</a></li> }}
          <li><a href="/feed.rss">rss</a></li>
          <li><a href="/curlme">curl me</a></li>
          <li><a href="/forkme">fork me</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
