<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | stratha.us</title>
    <link rel="canonical" href="http://stratha.us/{{id}}" />
    <meta name="keywords" content="{{#tags}}{{.}},{{/tags}}" /> 
    <meta name="author" content="{{author}}" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml"
      title="Johann Philipp Strathausen RSS-Feed"
      href="http://www.strathausen.eu/feed.rss" />
    {{!<link rel="alternate" type="application/atom+xml" title="Johann Philipp Strathausen Atom-Feed" href="http://www.strathausen.eu/feed/atom/" />
    <link rel="pingback" href="http://www.strathausen.eu/xmlrpc.aspx" />}}
    <meta name="generator" content="vim" />
    <style type="text/css">
      <!--
      {{css}}
      -->
    </style>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div id="header">
        <a href="/"><h1>Johann Philipp Strathausen</h1></a>
        <nav>
          <ul class="navigation">
            <li><a rel="prefetch" href="/">index</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="http://github.com/strathausen" target="_blank">
              → github</a></li>
            {{!<li><a href="/hire">hire</a></li>}}
          </ul>
        </nav>
      </div>
    </header>
    <div id="content">
      {{>body}}
    </div>
    <footer>
      <div id="footer">
        <nav>
          <ul class="navigation">
            <li>{{! <a href="/imprint">imprint</a> }}</li>
            <li><a href="/feed.rss">rss</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
