<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{title}}</title>
    <link>http://stratha.us/</link>
    <description>{{description}}</description>
    <language>en</language>
    <copyright>{{author}}</copyright>
    <pubDate>{{date}}</pubDate>
{{#documents}}
{{#if published}}
    <item>
      <title>{{title}}</title>
      <description>{{html}}</description>
      <link>http://stratha.us/{{id}}</link>
      <author>{{author}}</author>
      <guid>stratha.us/{{id}}:{{date}}</guid>
      <pubDate>{{toRFC822 date}}</pubDate>
    </item>
{{/if}}
{{/documents}}
  </channel>
</rss>
