<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{{#each documents}}
<url>
  <loc>http://stratha.us/{{id}}</loc>
  {{#if date}}<lastmod>{{toRFC822 date}}</lastmod>{{/if}}
  <changefreq>monthly</changefreq>
</url>
{{/each}}
</urlset>
