// LaTeX colours
LApricot        = #FBB982
LAquamarine     = #00B5BE
LBittersweet    = #C04F17
LBlack          = #221E1F
LBlue           = #2D2F92
LBlueGreen      = #00B3B8
LBlueViolet     = #473992
LBrickRed       = #B6321C
LBrown          = #792500
LBurntOrange    = #F7921D
LCadetBlue      = #74729A
LCarnationPink  = #F282B4
LCerulean       = #00A2E3
LCornflowerBlue = #41B0E4
LCyan           = #00AEEF
LDandelion      = #FDBC42
LDarkOrchid     = #A4538A
LEmerald        = #00A99D
LForestGreen    = #009B55
LFuchsia        = #8C368C
LGoldenrod      = #FFDF42
LGray           = #949698
LGreen          = #00A64F
LGreenYellow    = #DFE674
LJungleGreen    = #00A99A
LLavender       = #F49EC4
LLimeGreen      = #8DC73E
LMagenta        = #EC008C
LMahogany       = #A9341F
LMaroon         = #AF3235
LMelon          = #F89E7B
LMidnightBlue   = #006795
LMulberry       = #A93C93
LNavyBlue       = #006EB8
LOliveGreen     = #3C8031
LOrange         = #F58137
LOrangeRed      = #ED135A
LOrchid         = #AF72B0
LPeach          = #F7965A
LPeriwinkle     = #7977B8
LPineGreen      = #008B72
LPlum           = #92268F
LProcessBlue    = #00B0F0
LPurple         = #99479B
LRawSienna      = #974006
LRed            = #ED1B23
LRedOrange      = #F26035
LRedViolet      = #A1246B
LRhodamine      = #EF559F
LRoyalBlue      = #0071BC
LRoyalPurple    = #613F99
LRubineRed      = #ED017D
LSalmon         = #F69289
LSeaGreen       = #3FBC9D
LSepia          = #671800
LSkyBlue        = #46C5DD
LSpringGreen    = #C6DC67
LTan            = #DA9D76
LTealBlue       = #00AEB3
LThistle        = #D883B7
LTurquoise      = #00B4CE
LViolet         = #58429B
LVioletRed      = #EF58A0
LWildStrawberry = #EE2967
LYellow         = #FFF200
LYellowGreen    = #98CC70
LYellowOrange   = #FAA21A

ColorPrimary   = LBrickRed
ColorSecondary = LMidnightBlue
BGColor        = white

*
  font-family 'Junction'
  font-weight normal

body
  margin 0

/* general styling */
a, footer, header, h1, h2, h3, .header
  color ColorPrimary

nav a, p, li, .date
  color ColorSecondary

h2
  margin 2em 0 1em 0

h3
  margin 2em 0 1em 0

a
  text-decoration none

pre
  font-family 'Ubuntu Mono' !important
  margin      0 0.2em
  padding     .8em 1.1em
  max-width   56em

code, code span
  font-family 'Ubuntu Mono'

.clear
  clear both

#content p, #content li
  line-height 1.8em

#content
  width     75%
  min-width 450px
  max-width 560px
  margin    auto

/* header and footer */
header .header
  font-size        2.4em
  background-color BGColor
  display          inline-block
  padding          .2em .4em
  margin-top       -80px

h1
  displat          none

header p
  background-color white
  padding          0.6em 0.6em .4em 1.2em
  line-height      1.5em
  display          block
  text-align       right
  float            right

header, footer
  background-repeat no-repeat
  background-size  100%
  margin-bottom    3em
  text-align       left
  padding          .2em 0 0 0

header
  background-position-y center
  padding-top           90px

footer
  margin-top            4em
  padding-top           4em
  background-position-y bottom

/* on big screens: move header and footer to the left */
@media (min-width: 1096px)
  body
    padding-left 32%

  header, footer
    left     0
    position fixed

  header
    background-image url('/bg_ver.jpeg') !important
    top             0
    height          100%
    display         block
    background-size auto 100%
    width           32%

  footer
    background-image none !important
    bottom           0

  #content
    margin-left 160px
    padding-top 3em

/* article pages */
.article .date
  width         180px
  display       block
  position      relative
  text-align    right
  left          -195px
  top           20px
  margin-bottom -50px
  height        1.1em

/* index page */
ul.index
  list-style none

ul.index li
  line-height 2.6em !important

ul.index li span
  display inline-block

ul.index li span.date
  width         30%
  min-width     160px
  text-align    right
  padding-right .6em

ul.index li span.header
  min-width 320px

/* navigation */
ul.navigation
  padding    0
  margin     0
  list-style none
  display    inline-block

ul.navigation li
  background-color BGColor
  display          inline-block
  padding          .3em .5em
  margin           1em 1em 0 1em
  line-height      1.3em
