/* Ubuntu Mono Font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,latin-ext);
/* Junction Sans-Serif Font from the leagueofmovabletype.com */
@font-face {
  font-family: 'Junction';
  src: url(/fonts/Junction-webfont.eot); /* for IE */
  src: local('Junction'),
          url(/fonts/Junction-webfont.woff) format('woff'),
          url(/fonts/Junction-webfont.svg) format('svg'),
          url(/fonts/Junction-webfont.ttf) format('truetype');
}
body {
  background-color : #FEC;
  margin           : 0;
}
#content {
  width     : 60%;
  min-width : 450px;
  max-width : 650px;
  margin    : auto;
}
#header, h1, h2, h3 {
  font-family : 'Junction';
}
#header, h1 {
  color      : #39E;
  text-align : center;
  /*padding   : .2em 0 0 0;*/
  /*font-size : 2em;*/
}
#header {
  padding : .2em 0 0 0;
}
#header .subline {
  margin-top    : -1em;
  margin-bottom : -1em;
}
h2 {
  margin : 2em 0 1em 0;
  color  : #7A2;
}
h3 {
  margin      : 2em 0 1em 0;
  color       : #B31;
  font-weight : bolder;
}
a {
  text-decoration : none;
}
p {
  text-shadow : 0 0 6px white;
  font-family : 'Junction';
  font-size   : .9em;
  color       : #443;
}
pre {
  font-family      : 'Ubuntu Mono';
  border-radius    : 5px;
  margin           : 0 3em;
  background-color : #443;
  color            : #FEC;
  padding          : 1em 2em;
  max-width        : 55em;
}
code {
  font-family : 'Ubuntu Mono';
  text-shadow : 0 0 6px black;
}
ul.index {
  list-style  : none;
  font-family : 'Junction';
}
.date {
  color       : #B31;
  font-size   : .9em;
  font-family : 'Junction';
}
/* on the article page */
.article .date {
  width      : 180px;
  display    : block;
  position   : relative;
  text-align : right;
  left       : -180px;
}
/* on the index page */
ul.index li span.date {
  width         : 30%;
  display       : inline-block;
  text-align    : right;
  padding-right : .6em;
}
ul.index li span.title {
  color     : #7A2;
  font-size : 1.1em;
}
ul.index li a:visited span.title {
  color: #896;
}
ul.index li {
  line-height: 2em;
}
#header .navigation ul {
  list-style : none;
}
#header .navigation li a {
  color : #39E;
}
#header .navigation li {
  display   : inline-block;
  font-size : .8em;
  padding   : 0 1em 0 1em;
}
