@import 'kouto-swiss'

meyer-reset()
box-sizing-reset()
normalize()

// LaTeX colours
LApricot        = #FBB982
LAquamarine     = #00B5BE
LBittersweet    = #C04F17
LBlack          = #221E1F
LBlue           = #2D2F92
LBlueGreen      = #00B3B8
LBlueViolet     = #473992
LBrickRed       = #B6321C
LBrown          = #792500
LBurntOrange    = #F7921D
LCadetBlue      = #74729A
LCarnationPink  = #F282B4
LCerulean       = #00A2E3
LCornflowerBlue = #41B0E4
LCyan           = #00AEEF
LDandelion      = #FDBC42
LDarkOrchid     = #A4538A
LEmerald        = #00A99D
LForestGreen    = #009B55
LFuchsia        = #8C368C
LGoldenrod      = #FFDF42
LGray           = #949698
LGreen          = #00A64F
LGreenYellow    = #DFE674
LJungleGreen    = #00A99A
LLavender       = #F49EC4
LLimeGreen      = #8DC73E
LMagenta        = #EC008C
LMahogany       = #A9341F
LMaroon         = #AF3235
LMelon          = #F89E7B
LMidnightBlue   = #006795
LMulberry       = #A93C93
LNavyBlue       = #006EB8
LOliveGreen     = #3C8031
LOrange         = #F58137
LOrangeRed      = #ED135A
LOrchid         = #AF72B0
LPeach          = #F7965A
LPeriwinkle     = #7977B8
LPineGreen      = #008B72
LPlum           = #92268F
LProcessBlue    = #00B0F0
LPurple         = #99479B
LRawSienna      = #974006
LRed            = #ED1B23
LRedOrange      = #F26035
LRedViolet      = #A1246B
LRhodamine      = #EF559F
LRoyalBlue      = #0071BC
LRoyalPurple    = #613F99
LRubineRed      = #ED017D
LSalmon         = #F69289
LSeaGreen       = #3FBC9D
LSepia          = #671800
LSkyBlue        = #46C5DD
LSpringGreen    = #C6DC67
LTan            = #DA9D76
LTealBlue       = #00AEB3
LThistle        = #D883B7
LTurquoise      = #00B4CE
LViolet         = #58429B
LVioletRed      = #EF58A0
LWildStrawberry = #EE2967
LYellow         = #FFF200
LYellowGreen    = #98CC70
LYellowOrange   = #FAA21A

ColorPrimary   = LBrickRed
//ColorPrimary   = LWildStrawberry
ColorSecondary = LBlack
BGColor        = white
//cGhostWhite

FixedFont = 'Cousine'
//TextFont = 'Didact Gothic'
//TextFont = 'Carrois Gothic'
TextFont = 'PT Sans'

*
  font-family TextFont
  font-weight normal

body
  font-size 100%

/* general styling */
a, footer, header, h1, h2, h3
  color ColorPrimary

header, h1, h2, h3, h1 a, header p
  font-family FixedFont
  font-weight bold

nav a, p, li, .date
  color ColorSecondary

nav a
  font-family FixedFont
  font-weight bold

h2, h3
  margin 2em 0 1em 0

h2
  font-size 1.4em

h3
  font-size 1.2em

a
  text-decoration none

pre
  font-family FixedFont !important
  margin      0 0.2em
  padding     .8em 1.1em
  max-width   56em

code, code span
  font-family FixedFont

.clear
  clear both

#content p, #content li
  line-height 1.8em

#content p
  margin-bottom 1em

#content
  margin 1em

/* header and footer */
header h1
  font-size        1.6em
  line-height      1.5em
  background-color BGColor
  padding          .2em .4em

header p
  background-color BGColor
  padding          0.6em 0.6em .4em 1.2em
  line-height      1.5em
  text-align       right

header, footer
  background-repeat     no-repeat
  background-size       100%
  background-attachment fixed
  text-align            left
  padding               .2em 0 0 0

header
  padding-top           10%
  margin-bottom         3em

footer
  margin-top            4em
  padding-top           2em
  padding-bottom        6em
  background-position-y bottom

header, footer
  padding-left  32%
  padding-right 32%

header h1
  display inline-block

header p
  float right
  display block
  margin 20px 0

#content
  width     75%
  max-width 6.4in
  margin    auto

@media only screen and (min-width: 1497px)
  #content
    width 650px

@media only screen and (max-width: 1496px)
  header, footer
    padding-left  28%
    padding-right 28%

  #content
    width 80%

@media only screen and (max-width: 1296px)
  header, footer
    padding-left  16%
    padding-right 16%

  #content
    width 85%

@media only screen and (max-width: 896px)
  header, footer
    padding-left  5%
    padding-right 5%

  #content
    width 95%

/* index page */
ul.index
  list-style none

ul.index li
  line-height 2.6em !important

ul.index li span
  display inline-block

ul.index li span.date
  width         30%
  min-width     160px
  text-align    right
  padding-right .6em

/* navigation */
ul.navigation
  padding    0
  margin     0
  list-style none
  display    inline-block

ul.navigation li
  background-color BGColor
  display          inline-block
  padding          .3em .5em
  margin           1em 1em 0 1em
  line-height      1.3em

.article img
  width 100%
