/* Junction Sans-Serif Font from the leagueofmovabletype.com */
@font-face {
  font-family: 'Junction';
  src: url(/fonts/Junction-webfont.eot); /* for IE */
  src: local('Junction'),
          url(/fonts/Junction-webfont.woff) format('woff'),
          url(/fonts/Junction-webfont.svg) format('svg'),
          url(/fonts/Junction-webfont.ttf) format('truetype');
}
* {
  font-family : 'Junction';
  font-weight : normal;
}
#content {
  width     : 75%;
  min-width : 450px;
  max-width : 560px;
  margin    : auto;
}
a,
#footer,
#header,
h1,
h2,
h3,
/*nav a:first-letter,*/
.title {
  color : #B6321C; /* LaTeX BrickRed */
}
nav a,
p,
li,
.date {
  color : #006795; /* LaTeX MidnightBlue */
}
/*p a:visited,*/
/*a:visited .title {*/
  /*color : #C652FC;*/
/*}*/
.date {
  font-size: .9em;
}
#header h1 {
  font-size   : 2.2em;
}
#header, #footer {
  text-align : center;
  padding    : .2em 0 0 0;
}
#footer {
  margin-bottom : 3em;
}
h2 {
  margin : 2em 0 1em 0;
}
h3 {
  margin : 2em 0 1em 0;
}
a {
  text-decoration : none;
}
#content p,
#content li {
  text-shadow : 0 0 6px white;
  line-height : 1.8em;
}
pre {
  font-family      : 'Ubuntu Mono';
  font-size        : .9em;
  border-radius    : 5px;
  margin           : 0 0.2em;
  background-color : #443;
  color            : #FEC;
  padding          : .8em 1.1em;
  max-width        : 56em;
  text-shadow      : 0 0 6px black;
}
code {
  font-family : 'Ubuntu Mono';
}
ul.index {
  list-style  : none;
}
/* on the article page */
.article .date {
  width         : 180px;
  display       : block;
  position      : relative;
  text-align    : right;
  left          : -195px;
  top           : 20px;
  margin-bottom : -50px;
  height        : 1.1em;
}
/* on the index page */
ul.index li span {
  display: inline-block;
}
ul.index li span.date {
  width         : 30%;
  min-width     : 160px;
  text-align    : right;
  padding-right : .6em;
}
ul.index li span.title {
  min-width : 320px;
}
ul.index li {
  line-height : 2.6em!important;
}
ul.navigation {
  padding    : 0;
  list-style : none;
}
.navigation li {
  display   : inline-block;
  font-size : .8em;
  padding   : 0 1em 0 1em;
}
.lnr {
  visibility : hidden;
}
