title: 'Node.js - My first memory leak'
tags: ['javascript','memory leak','nodejs']
date: 'July 17th, 2012'
sort: 20120717
author: 'Johann Philipp Strathausen <strathausen@gmail.com>'


## My first memory leak on node.js


